* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");
@import url("https://css.gg/css?=|facebook");

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 800px;
  height: 500px;
}

/* css for manual slide */
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* css for auto slide */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #40d3dc;
}

:root {
  /* Color */
  --bg-color: #f1f1f1;
  --title1: #61accf;
  --cadre-txt: #1e3d59;
  --logo: #cd4669;
  /* Font */
  --nav-bar: "Nunito", sans-serif;
  --font-txt: "Roboto", sans-serif;
  /* Transition */
  --dark-mode: 0.7s;
}

body {
  background-color: var(--bg-color);
  transition: var(--dark-mode);
  z-index: 1;
}

.body-change {
  background-color: black;
}

header {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  justify-content: center;
  /* padding-top: 20px; */
  width: 100vw;
  height: 50vh;
}

img {
  /* margin-top: 10%; */
  width: 100%;
  height: auto;
}

.carousel {
  white-space: nowrap;
  overflow: hidden;
}

.car1 {
  transition: transform 2s ease;
}
.car2 {
  transition: transform 2s ease;
  transform: translateX(100%);
}
.car3 {
  transition: transform 2s ease;
  transform: translateX(200%);
}
.car4 {
  transition: transform 2s ease;
  transform: translateX(300%);
}

.dark-mode {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 30px;
  z-index: 5;
  border-radius: 30px;
  cursor: pointer;
}

.btn {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  position: relative;
  transition: transform var(--dark-mode);
}

.btn-change {
  transform: translateX(60px);
}

.dark-mode i {
  color: #ffd363;
  transition: opacity calc(var(--dark-mode) + 1s);
}

.fa-moon {
  position: absolute;
  margin-left: 65px;
}

.fa-moon-change {
  opacity: 0%;
}

.fa-sun {
  opacity: 0%;
  position: absolute;
  margin-left: 8px;
}

.fa-sun-change {
  opacity: 100%;
}

nav {
  margin: 1% 10px;
}

.nav-toggler {
  position: fixed;
  top: 15px;
  right: 30px;
  height: 50px;
  z-index: 4;
  display: block;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
  transition: transform 0.3s ease-out, opacity 0.1s ease-out;
}

.l1 {
  transform: translateY(-10px);
}
.l3 {
  transform: translateY(10px);
}

.nav-toggler.active .l1 {
  transform: translateY(0px) rotate(135deg);
}
.nav-toggler.active .l2 {
  opacity: 0;
}
.nav-toggler.active .l3 {
  transform: translateY(0px) rotate(-135deg);
}

.nav-bar-mobil {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 60vh;
  text-align: center;
  top: 0;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-txt);
  font-size: 20px;
  text-transform: uppercase;
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
/* cubic-bezier(0.73, 0.11, 0.67, 0.84) */
.nav-bar-mobil.active {
  transform: translateY(0);
}

ul li {
  margin: 20px;
}

ul li a {
  color: white;
}

h1 {
  margin-top: 30%;
  color: black;
  border-radius: 20px;
  font-size: 50px;
  font-family: var(--nav-bar);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

.hide-title {
  opacity: 0%;
}

.title-background {
  background-color: rgba(97, 172, 207, 0.7);
  margin: 10px;
  font-size: 40px;
  padding: 20px 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.flex-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraphe {
  border: 20px solid var(--cadre-txt);
  border-radius: 16px;
  color: white;
  background-color: var(--cadre-txt);
  margin: 5%;
}

.paragraphe h3,
.paragraphe p,
.paragraphe-hidden h3,
.paragraphe-hidden p,
.paragraphe a {
  color: white;
}

.flex-container div img {
  border-radius: 20px;
  width: 90%;
}

.img-shadow {
  box-shadow: 5px 5px 5px 5px #b0b0b0;
  transition: var(--dark-mode);
}

.img-shadow-change {
  box-shadow: none;
}

footer {
  background-color: var(--cadre-txt);
}

footer div {
  display: flex;
  justify-content: space-around;
}

footer div i {
  cursor: pointer;
  padding: 3%;
}

.fa-brands {
  color: var(--logo);
}

/*à ajouter media querie*/

/* footer{
    display : flex;
    justify-content : space-between
  }
  
  footer div{
    display : flex;
    justify-content : center;
    align-items : center;
    width: 80vw;
  }
  .icone{
    display: flex;
    justify-content: space-around;
  } */
.left,
.right {
  display: none;
}
/*********************************************Activités***********************************/

.main-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.first-container,
.second-container {
  display: flex;
  flex-direction: column;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: var(--logo);
  font-size: 40px;
  margin: 10%;
  height: 20vh;
  border-radius: 30px;
}

.fa-mountain-sun,
.fa-snowflake {
  margin-left: 10%;
}

.first-container div img,
.second-container div img {
  border-radius: 20px;
  width: 75%;
  height: 30vh;
}

/*********************************************Infos utiles***********************************/

.contain-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contain-first-info,
.contain-second-info {
  display: flex;
  flex-direction: column;
}

.countain-first-info div,
.contain-second-info div {
  display: flex;
  flex-direction: column;
}

.contain-first-info div img {
  border-radius: 20px;
  width: 75%;
  height: 30vh;
}

.contain-second-info iframe {
  border-radius: 20px;
  width: 100%;
  height: 30vh;
}

.contain-second-info {
  display: flex;
  align-items: center;
  margin: 40px;
}

.paragraphe-hidden {
  border: 20px solid var(--cadre-txt);
  border-radius: 16px;
  color: rgb(255, 255, 255);
  background-color: var(--cadre-txt);
  margin: 5%;
  cursor: pointer;
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  height: 10vh;
  border-radius: 30px;
}

.paragraphe-txt {
  /* background-color: blue; */
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 2s;
}

.appear {
  /* background-color: red; */
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
  transition: 2s;
  z-index: 4;
}

.appear-body {
  background-color: rgba(155, 155, 155, 155);
  background-color: red;
  backdrop-filter: blur(100%);
  backdrop-filter: opacity(100%);
  z-index: 1;
  opacity: 30%;
}

/**************************************Aux alentours*********************************************/

.main-alentours {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-alentours div img {
  border-radius: 20px;
  width: 75%;
  height: 30vh;
}

.main-alentours p {
  text-transform: uppercase;
  cursor: pointer;
}

.container-alentours {
  display: flex;
  flex-direction: column;
}

.container-alentours div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-alentours img {
  border-radius: 20px;
  width: 75%;
  height: 40vh;
}
